.container-fluid form{
    min-width: 18rem !important;
    max-width: 20rem !important;
    margin: auto;
    margin-top: 1rem;
   margin-bottom: 5rem !important;
   border: 0.5px solid #17a2b8;
   padding: 0.5rem;
   border-radius: 10px;
}

.container-fluid form label{
    color: #17a2b8;
}